@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: black;
    --color: rgb(255, 255, 255);
}

.light-mode:root {
    --bg: rgb(194, 192, 192);
    --color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--color);
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}


/*botão de tema*/
div#tema {
    display: flex;
    justify-content: end;
    padding: 5px;
    width: 100%;
}

div#tema input#tema-btn {
    appearance: none;
    justify-content: end;
    align-items: flex-end;
    position: relative;
    margin: 5px 10px;
    right: 0;
    width: 40px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 50px;
    transition: .3s;
}
div#tema input#tema-btn:checked {
    background-color: gray;
}

div#tema input#tema-btn::before {
    content: " ";
    position: absolute;
    left: 0;
    top: -1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(114, 116, 112);
    transition: .4s;
}
div#tema input#tema-btn:checked::before{
    background-color: rgb(15, 141, 141);
    left: 20px;
}

div#tema input#tema-btn::after {
    content: "dark";
    position: absolute;
    color: var(--color);
    left: -30px;
    top: 2px;
}
div#tema input#tema-btn:checked::after {
    content: "light";
}
/*botão de tema*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid yellow;*/
}
header h1 {
    margin-left: 10px;
    font-weight: 500;
}

/*menu hamburguer*/

div.overlay {
    background-color: rgba(0, 0, 0, 0.613);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    animation: view2 linear 0.4s forwards;
}

div.overlay.overlay-open {
    display: block;
}

div#header {
    position: relative;
}

nav.menu_mobile {
    position: absolute;

}

div nav button#button {
    z-index: 1000;
    position: absolute;
    right: 0px;
    top: -33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    background: transparent;
    margin-top: 0px;
    margin-right: 10px;
    padding: 2px;
    border: none;
}

div nav ul#options2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: absolute;
    z-index: 999;
    right: -5px;
    top: -34px;
    width: 0px;
    height: 350px;
    padding-top: 100px;
    background: rgba(245, 245, 245, 0.574);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 20px;
    transition: all ease .3s;
    overflow: hidden;    
}

ul#options2 li a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 1.5rem;
}


ul#options2.open-options2 {
    width: 200px;  
}


button:hover {
    cursor: pointer;
}

button span {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background: var(--color);
    margin-top: 10px;
    transition: all 0.25s;
}

button.active span:nth-child(2) {
    opacity: 0;
    width: 0px;
}

button.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-13px, 10px);
    background: red;
}

button.active span:nth-child(3) {
    transform: rotate(45deg) translate(-15px, -15px);
    background: red;
}

#menu_desktop {
    display: none;
}
@media screen and (min-width: 600px) {
    #menu_desktop{
        width: max-content;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 15px;
        right: 20px;
        bottom: -15px;
    }
    nav#menu_desktop a {
        width: auto;
        color: white;
        font-size: 1.1rem;
        list-style: none;
        text-decoration: none;
    }
    .menu_mobile #button{
        display: none;
    }
}

/*menu hamburguer*/

/*seção sobre*/
main {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}

#sobre {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: end;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.borda-sup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, transparent, white 60%, green 80%);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: borda1 4s infinite linear;
}
.borda-dir {
    position: absolute;
    top: -100%;
    right: .3px;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, white 60%, green 80%);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: borda2 4s infinite linear;
    animation-delay: s;
}
.borda-inf {
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, transparent, white 60%, green 80%);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: borda3 4s infinite linear;
    animation-delay: ;
}
.borda-esq {
    position: absolute;
    bottom: -100%;
    left: .3px;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to top, transparent, white 60%, green 80%);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: borda4 4s infinite linear;
    
}
@keyframes borda1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes borda2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes borda3 {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes borda4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.title {
    position: absolute;
    padding: 5px;
    left: 15%;
    top: 10px;
    text-align: left;
    /*border: 1px solid purple;*/
}
.title > h3 > span {
   font-size: 1.5rem;
   color: rgb(125, 55, 211);
}
main > section#sobre > section#imagem > img {
    position: absolute;
    left: 30%;
    bottom: 10px;
    min-width: 240px;
    width: 40%;
    margin: auto;
}

@media screen and (min-width: 650px) {
    main.content section#sobre {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-items: end;
        align-items: end;
        justify-content: center;
        width: 100%;
        height: 500px;
        margin: auto;
        padding: 10px;
        text-align: center;
        overflow: ;
    }
    main.content section.sobre .title {
        position: absolute;
        left: 5px;
        top: 5%;
        text-align: left;
        /*border: 1px solid rgb(135, 11, 17);*/
        border: none;
    }
    section.title > h2 {
        font-size: 1.4rem;
    }
    section.title > h3 {
        font-size: 1.3rem;
    }
    section.title > h3 > span {
       font-size: 1.5rem;
       color: rgb(125, 55, 211);
    }
    main#content section#sobre section#imagem img {
        position: absolute;
        right: -27%;
        bottom: 50px;
        
        width: 40%;
        margin: auto;
    }
}
/*seção sobre*/

/*seção sobre2*/

.sobre2 {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    /*border: 1px solid blue;*/
}

/*seção sobre2*/

/*seção habilidades*/

section#habilidades {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    /*border: 1px solid red;*/
}
.hab-img .img {
    margin: 10px 10px;
    width: 70px;
    border-radius: 40%;
}